@font-face {
	font-family:"Lato";
	src:url("./Lato-Regular.ttf");
}
@font-face {
	font-family:"SF Sports";
	src:url("./SF Sports Night NS.ttf");
}
html{
	font-family:"Lato";
}

#menu-usager{
	position:fixed;
	top:0;
	left:0;
	z-index:1;
	width:100%;
	height:4vw;
	background-color:black;
	display:flex;
	justify-content: flex-end;
	align-items:center;
	color:white;
	font-size:1vw;
}
#menu-usager p{
	padding:5px 15px;
}
#menu-usager p:last-of-type{
	border-left:solid 2px red;
}
#menu-usager p:last-of-type{
	margin-right:50px;
}
body{
	margin:4vw auto;
	width:75%;
	background-color:darkblue;
}
#image-accueil{
	border-radius:10px;
	height:40vw;
	background-image:url("../images/design/tennis-vert.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	background-position:center;
	display:flex;
	justify-content: space-between;
}
#image-accueil > div{
	width:30%;
}
#image-accueil > div:last-child{
	font-family:"SF Sports";
	font-size:3vw;
	padding-top: 200px;
	padding-right:100px;
	transform:skewX(-20deg);
}
#logo-accueil, #carte-complete h2, #titre-regles{
	padding:3vw;
	font-family: "SF Sports";
	font-size:6vw;
	color:red;
	width:15vw;
	text-shadow: 1px 5px black;
}

#menu-principal ul{
	display:flex;
}
#menu-principal li{
	padding-top:10px;
	padding-right: 60px;
	list-style-type: none;
}
a:link,a:visited{
	color:white;
	text-decoration:none;
}

#form-inscription, #form-connexion{
	margin:3vw auto;
	background-color:white;
	background-image:url("../images/red-sox.png");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	border:solid 2px red;
	width:600px;
	height:350px;

	padding:5vw;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;

	letter-spacing:1px;
	font-weight:bold;
	position:relative;
}

#form-inscription form, #form-connexion form{
	padding: 3vw 6vw;
	border-radius:5px;
	font-size:1.5vw;
}
form input{
	width:15vw;
}
#form-connexion form > div, #form-inscription form > div{
	margin:auto;
	padding:5px;
}
/* inscription / connexion page */
#form-inscription h3, #form-connexion h3{
	margin:0;
	position:absolute;
	top:0.5vw;
	left:0.5vw;
	font-family:"SF Sports";
	font-size:3vw;
}
#choix-sport ul{
	padding:0;
}

#selection-sport{
	display:grid;
	grid-template-columns: repeat(2,50%);
	grid-template-rows: repeat(3,auto);
	grid-gap:5px;
	justify-content:center;
}
#selection-sport div{
	height:20vw;
	background-repeat:no-repeat;
	background-size:cover;
	font-family: "SF Sports";
	font-size:5vw;
	text-align:center;
	line-height: 20vw;
	border:solid 1px white;
}
#selection-sport a:link, #selection-sport a:visited{
	color:red;
	text-shadow: 1px 1px white;
}
#selection-sport div:first-of-type{
	font-size:2.5vw;
	color:white;
	border:none;
}
#selection-sport div:nth-of-type(2){
	background-image:url("../images/canadiens.png");
}
#selection-sport div:nth-of-type(3){
	background-image: url("../images/vladimirjr.png");
}
#selection-sport div:nth-of-type(4){
	background-image:url("../images/basketball.png");
}
#selection-sport div:nth-of-type(5){
	background-image:url("../images/mma.png");
}

/* Parier page */
#carte-complete h2{
	padding:0;
	padding-bottom:2vw;
	margin:0;
	font-size: 5vw;
}
#carte-complete{
	display:flex;
	background-image: url("../images/design/tennis5.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	flex-direction:column;
	padding:1vw;
	border-radius:5px;
	border:3px solid red;
	text-align: justify;
	font-size:1vw;
}
#titre{
	display:flex;
}
#titre h3{
	margin:0;
	margin-left:0.5vw;
	padding:0.5vw;
	border-style:solid;
	border-color:red;
	border-width:2px 2px 0 2px;
	border-radius:3px;
}
#mise-complete{
	display:flex;
	flex-direction:column;
	border:solid 2px red;
	border-radius:5px;
	padding:1vw;
	background-color:white;
	width:95%;
	margin:auto;
}
#container-sport{
	display:flex;
	border:solid 1px black;
	justify-content:space-between;
	align-items:center;
	padding:0.5vw 0.5vw;
	margin-bottom:10px;
	width:90%;
}
#choix-mise{
	display:flex;
	border:solid 2px red;
	border-radius:5px;
}
#event{
	display:flex;
	flex-direction:column;
	border-right:solid 2px red;
	padding:0.5vw 1vw;
	width:60%;
}
#event h3{
	width:30%;
}
#event button{
	text-align:center;
	width:100px;
	padding:10px;
}
.team{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	flex:1;
	padding:0px 15px;
}
.team > div{
	flex:1;
	text-align:center;
	padding:0 0.5vw;
}
.team div input{
	width:10px;
	text-align:center;
	align-items: center;
}

#miser{
	display:flex;
	justify-content: space-between;
}
#miser > div:last-child{
	width:20%;
	margin-left:3vw;
}
#montant{
	display:flex;
	justify-content: start;
	align-items:center;
	width:60%;
}
#montant input{
	width:80px;
	margin:0 5px;
}
#montant > div:last-child{
	display:flex;
}
#carte-mise{
	padding:1vw;
	width:35%;
}
#carte-mise form{
	padding:0;
	margin-bottom:2vw;
}
#carte-mise form button{
	width:50%;
	float:left;
}
#carte-mise form, .colonne{
	display:flex;
	flex-direction: column;
	margin-bottom:0.5vw;
	width:100%;
}

.ligne{
	margin-left:20px;
}
.ligne, .ligne > input:nth-of-type(2){
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.ligne .fas , .ligne .fa-times{
	border:2px solid black;
	padding:5px;
	color:red;
}

#valeur{
	text-align:right;
}
.ligne > input{
	flex:1;
	margin:0 5px;
}
.ligne:last-of-type{
	justify-content:flex-end;
}
.ligne:last-of-type > input{
	text-align:right;
}
.ligne > input{
	border:0;
}
#liste-mises{
	border-bottom: 1px solid black;
}
#liste-mises{
	font-size:0.8vw;
	width:100%;
}
#carte-mise input{
	width:5vw;
}
#mise-total{
	text-align:right;
}
.team-logo{
	height:2vw;
	width:2vw;
	background-image:url("../images/53.svg");
	background-position:center;
	background-repeat: no-repeat;
}

main a:link, main a:visited{
color:black;
}

/* How to page */
#titre-regles{
	margin:0;
	padding:0;
	text-align: center;
}
#reglements{
	background-image: url("../images/design/basket.png");
	background-size:cover;
	background-repeat:no-repeat;
	padding:3vw 4vw;
	color:black;
	font-style: italic;
	font-weight: bold;
	border-radius:5px;
	border:3px solid red;
	text-align: justify;
	color:white;
	text-shadow: 2px 2px black;
}
#reglements li{
	padding:1vw;
}
h4{
	font-size:1.5vw;
	font-family:"SF Sports";
	margin:15px;
}
/* page profil */
#info-compte{
	background-color:white;
	display:flex;
	background: url("../images/design/basket.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	border-radius:5px;
	border:3px solid red;
	height:550px;
}
#info-compte > div{
	padding:30px;
	height:490px;
}
#info-compte > div:first-child{
	border-right:3px solid red;
	flex:1.2;
}
#info-compte ul > li{
	padding:20px;
	font-weight: bold;
	font-style:italic;
	letter-spacing:2px;
}
h3 + .colonne{
	overflow-y: scroll;
	max-height:110px;
	margin-top:15px;
}
.btn{
	border-radius:5px;
	background-color:red;
	text-decoration:none;
	text-align:center;
	border:none;
	font-weight: bold;
	width:120px;
	padding:5px 0;
	cursor:pointer;
}
#etat{
	flex:2;
}
#info-compte > div h3{
	margin:0;
	font-family:"SF Sports";
	font-size:3vw;
}
#ajouterFonds{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:500px;
	height:400px;
	background-color:red;
	border:solid 1px black;
	border-radius:5px;
}
#fenetreSolde{
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:750px;
	height:450px;
	position:absolute;
	background-color:lightgrey;
	display:none;
	border:solid 1px black;
	box-shadow: 5px 5px black;
}
#fenetreSolde > .ligne > .colonne > h3{
	font-family: "SF Sports";
	font-size:1.5vw;
	margin-bottom:20px;
}
#fenetreSolde > .ligne > .colonne{
	width:45%;
	padding-left:20px;
	padding-top:20px;
}
#no-card{
	width:100%;
}
#card{
	margin-left:5px;
}
#card > i{
	padding-right:10px;
}
#fenetreSolde .ligne{
	justify-content:flex-start;
	align-items: flex-start;
}
#fenetreSolde > .ligne > .colonne > div{
	margin:0 0 5px 10px;
	width:100%;
}
#fenetreSolde > .ligne > .colonne > .ligne > .colonne input{
	margin:0;
	width:75%;
}
#fenetreSolde > .ligne > div{
	width:90%;
}
.X{
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
}
#etat .ligne{
	font-size:15px;
	justify-content:space-between;
}

#fenetreSolde #button{
	justify-content:flex-end;
	padding-right:100px;
}

.section{
	margin-bottom:10px;
}
#etat > section > h3{
	margin-bottom:10px;
}
.section div{
	margin-bottom:10px;
}

h3 +  .colonne::-webkit-scrollbar {
	color:red;
	background:lightcoral;
}
h3 +  .colonne::-webkit-scrollbar-thumb{
	background:red;
}
#detailsMise{
	display:none;
	width:500px;
	height:350px;
	background-color:white;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	position:absolute;
	border:solid 1px black;
	box-shadow: 5px 5px black;
}
.hidden{
	display:none;
	margin-bottom:15px;
}
.hidden .ligne{
	width:70%;
	justify-content:flex-end;
}
.uneMise > .ligne{
	margin-bottom:15px;
	margin-right:15px;
}
.uneMise .hidden > .ligne {
	margin-left:100px;
	border-bottom:1px solid black;
}

.transition{
	transition:all ease 2;
}