<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Plan de match</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" type="text/css" href="../../public/css/style.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="../../public/css/style.css" /> -->
	<link rel="stylesheet" type="text/css" href="/css/style.css" />


	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
	<header>
		<div id="menu-usager">
			<% if(!currentUser){ %>
				<p><a href="/connexion">Se connecter</a></p>
				<p><a href="/inscription">S'inscrire</a></p>
			<% } else { %>
				<!-- <p></a></p> -->
				<p><a href="/profil">Bienvenue <%= currentUser.username %> </a></p>
				<p><a href="/logout">Se déconnecter</a></p>
			<% } %>
		</div>
		<div id="menu-principal">
			<nav>
				<ul>
					<li><a href="/">Accueil</a></li>
					<li><a href="/commentjouer">Comment jouer</a></li>
					<li><a href="/parier">Parier</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<main>