<%
	include partials/header
%>

<div id="reglements">
		<h2 id = "titre-regles">Reglements</h2>
	<ol>
		<li>
			Créez votre profil utilisateur de Plan de match
		</li>
		<li>
			Ajoutez un solde dans la section profil
		</li>
		<li>
			Choisissez le sport pour lequel vous voulez miser
		</li>
		<li>
			Sélectionnez les parties souhaitées dans les événements en cours
		</li>
		<li>
			Misez, le minimum est 1,00$
		</li>
		<li>
			Confirmez votre carte de mise
		</li>
		<li>
			Attendez les résultats de vos parties
		</li>
		<li>
			Et le tour est joué!
		</li>
	</ol>
</div>
<%
	include partials/footer
%>