<% include partials/header %>
		<div id = "form-connexion">
			<h3>Connexion</h3>
				<form action="/connexion" method="post">
					<div><label for="">Nom d'utilisateur : </label></div>
					<div><input type="text" name="username" id="" required></div>
					<div><label for="">Mot de passe : </label></div>
					<div><input type="password" name="password" id="" required></div>
					<div></div>
					<div><button type="submit">Se connecter</button></div>
				</form>
		</div>
	</main>
</body>
</html>