<% include partials/header %>

<!-- <link rel="stylesheet" type="text/css" href="/css/style.css" /> -->
				<div id="image-accueil">
					<div id="logo-accueil">Plan de match</div>
					<div>Simulation de paris sportifs</div>
				</div>
		</main>
	</body>
</html>