<% include partials/header %>
<!-- <script src="../../action/dataAction.js"></script> -->
			<div id = "form-inscription">
				<h3>Inscription</h3>
					<form action="/inscription" method="post">
						<div><label for="">Nom d'utilisateur : </label></div>
						<div><input type="text" name="username" id="username" required></div>
						<div><label for="">Courriel :  </label></div>
						<div><input type="email" name="email" id="email" required></div>
						<div><label for="">Mot de passe : </label></div>
						<div><input type="password" name="password" id="password" required></div>
						<!-- <div><label for="">Confirmer mot de passe : </label></div>
						<div><input type="password" name="password" id="" required></div> -->
						<div></div>
						<div><button type="submit">S'inscrire</button></div>
					</form>
			</div>
		</main>
	</body>
</html>