<% include partials/header %>
			<div id="selection-sport">
				<div>Choisissez un sport</div>
				<div><a href="/parier/hockey">Hockey</a></div>
				<div><a href="/parier/baseball">Baseball</a></div>
				<div><a href="/parier/basketball">Basketball</a></div>
				<!-- <div><a href="/parier/soccer">Soccer MLS</a></div> -->
				<div><a href="/parier/mma">MMA</a></div>
			</div>
		</main>
	</body>
</html>