<%
	include partials/header
%>
<script>
	// let opacity = document.querySelector(".transition").style.opacity;
	// let window = document.querySelector(".transition");

</script>
<div id = "carte-complete" class="transition">
	<h2><%= param %></h2>
	<div id="mise-complete">
		<div id="titre">
			<h3><a href="">Événements</a></h3>
		</div>
		<div id="choix-mise">
			<form id="event" name="event" action="/parier/<%= param %>" method="get">
					<%
						let compteur = 0;
						body.forEach(event =>{
						let date = new Date(event.MatchTime)
						let day = ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"]
						let months = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"];
					%>
					<h3><%=
							day[date.getDay()] + ' - ' + date.getDate() + ' ' + months[date.getMonth()] + ' ' + date.getFullYear()
						%>
					</h3>
<!-- Un event --> 	<div id="container-sport">
	<!-- Home Team -->	<div class="team">
							<%
								let imgURL;
								if(event.Sport === 11){
									imgURL = '../images/' + event.Sport + '/' + event.HomeTeam.replace(/[.\s]/g, '') + '.png'
								}
								else{
									imgURL = '../images/' + event.Sport + '/' + event.HomeTeam.replace(/[.\s]/g, '') + '.svg'
								}
							%>
							<div>
								<img src="<%= imgURL %>" alt="" height="42" width="42">
							</div>
							<div><%= event.HomeTeam %></div>
							<div><%
									let miseHome = null;
									if(parseInt(event.Odds[0].MoneyLineHome) < 0){
										miseHome = ((100/Math.abs(event.Odds[0].MoneyLineHome))+1).toFixed(2)
									}
									else{
										miseHome = ((event.Odds[0].MoneyLineHome/100) + 1).toFixed(2)
									}
									let home = [event.HomeTeam,  miseHome, 'Home', event.Sport]
								%>
								<%= miseHome %></div>
							<div>
								<input type="radio" value="<%= home %>" name="event[<%= event.ID %>]"" id="">
							</div>
<!-- Fin Home Team -->	</div>
						<div>
							VS
						</div>
	<!-- Away Team -->	<div class="team">
							<%

								if(event.Sport === 11){
									imgURL = '../images/' + event.Sport + '/' + event.AwayTeam.replace(/[.\s]/g, '') + '.png'
								}
								else{
									imgURL = '../images/' + event.Sport + '/' + event.AwayTeam.replace(/[.\s]/g, '') + '.svg'
								}
							%>
							<div>
								<img src="<%= imgURL %>" alt="" height="42" width="42">
							</div>
							<div><%= event.AwayTeam %></div>
							<div>
								<%
									let miseAway = null;
									if(parseInt(event.Odds[0].MoneyLineAway) < 0){
										miseAway = ((100/Math.abs(event.Odds[0].MoneyLineAway)) + 1).toFixed(2)
									}
									else{
										miseAway = ((event.Odds[0].MoneyLineAway/100) + 1).toFixed(2)
									}
									let away = [event.AwayTeam, miseHome,'Away', event.Sport]
								%>
								<%= miseAway %>
							</div>
							<div><input type="radio" value="<%= away %>" name="event[<%= event.ID %>]" id="" ></div>
<!-- Fin Away Team -->	</div>
<!-- Fin event -->	</div>
					<% compteur++ }) %>
	<!-- Miser -->	<div id = "miser">
<!-- Montant mise -->	<div id = "montant">
							<label for="">Montant de la mise: </label>
							<div>
								<input type="number" min="1" max="<%= currentUser.solde %>" step="0.5"name="montant" size ="20" required>
								<div>$</div>
							</div>
							<% if(currentUser.solde == 0){ %>
								<div id="text">
									Veuillez ajouter un solde à votre profil
								</div>
								<%} %>
	<!-- Fin mise -->	</div>
						<div>
							<button type="submit">Miser</button>
						</div>
<!-- Fin Miser -->	</div>
			</form>
<!-- Mise --><div id="carte-mise">
				<h3>Carte de mise</h3>
				<form action="/parier/<%= param %>" method="post">
					<div id = "liste-mises">
						<%
							let total = null;
							if(typeof pariEnCours !== 'undefined'){
								let compteur = 0;
								pariEnCours.forEach(pari => {
										total += parseFloat(pari.odd)
						%>
						<div class = "colonne">
							<div class ="ligne">
								<input type="text" name="team[<%= compteur %>][name]" value="<%= pari.name %>" readonly>
								<input class="odd-value" type="text" name="team[<%= compteur %>][odds]" value="<%= pari.odd %>" readonly>
								<i class="fas fa-times"></i>
							</div>
							<div class ="ligne">
								<input type="hidden" name="team[<%= compteur %>][id]" value="<%= pari.id %>" readonly>
								<input type="hidden" name="team[<%= compteur %>][venue]" value="<%= pari.venue %>" readonly>
								<input type="hidden" name="team[<%= compteur %>][sportID]" value="<%= pari.sportID %>" readonly>
							</div>
						</div>
						<%
									compteur++;
								})
							}
						%>
					</div>
					<% if(typeof montant !== 'undefined'){ %>
					<div class="ligne">
						<div> Total:</div>
						<input type="text" id = "montant-mise" name="montant" value="<%= montant %>" readonly>
						<div>X</div>
						<input type="text" id = "odds-total" name="oddsTotal" value="" readonly>
						<div>=</div>
					</div>
					<div class = "ligne">
						<input type="text" id = "mise-total" name="gain" value="" readonly>
					</div>
					<div class="ligne">
						<button onclick="objetMise()">Confirmer la mise</button>
					</div>
					<% } %>
				</form>
<!-- Fin m --></div>
			<script>
					let parent = document.querySelectorAll(".fas, .fa-times");
					let oddsTotal = document.querySelector("#odds-total");
					let montantMise = document.querySelector("#montant-mise");
					let totalValue = document.querySelector("#mise-total");
					let oddValue = document.querySelectorAll(".odd-value");
					// console.log(typeof parseFloat(montantMise.value));

					// console.log(oddValue);
					let value = 0;
					oddValue.forEach(odd => {
						console.log("odd value = " + odd.value);
						value += parseFloat(odd.value)
					})
					oddsTotal.setAttribute("value", value.toFixed(2));
					totalValue.setAttribute("value", (parseFloat(montantMise.value) * value).toFixed(2));

					for(let i = 0; i< parent.length; i++){
						parent[i].addEventListener('click', removeNode = ()=>{
							let c = parent[i].parentNode.childNodes;

							value -= c[3].value

							oddsTotal.setAttribute("value", value.toFixed(2));

							totalValue.setAttribute("value", (parseFloat(montantMise.value) * value).toFixed(2));
							parent[i].parentNode.parentNode.remove();
						})

					}

					window.onload = () => {
						console.log("CONNECTED");

						let input = document.querySelector("#number");
						input.onkeyup = () => {
							console.log("allo");

							let value = parseFloat(input.value);
							console.log("<%= currentUser.solde %>");

							if(value < "<%= currentUser.solde %>"){
								console.log("smaller than solde");

							}
						}
					}
			</script>
		</div>
	</div>
</div>
<%
	include partials/footer
%>