<%
	include partials/header
	let script = require('./js/javascript.js');
	let val =  ajouterFonds();
%>
<script>
	const ajouterFonds = () => {
		console.log("click");
		document.querySelector("#fenetreSolde").style.display = "block";

	}
	const fermerFonds = (fenetre) => {
		fenetre.style.display = "none";
	}
	const voirDetails = (fenetre) => {

		let window = document.querySelector("#"+fenetre).querySelector(".hidden");
		console.log(window);

		let opacity = window.style.opacity
		console.log("opacity = " + opacity);

		if(window.style.display === "block"){
			console.log("hide");
			window.style.display = "none";
		}
		else{
			console.log("show");

			window.style.display = "block";
		}
	}

</script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<div id = "info-compte">
	<div>
		<h3>Compte</h3>
		<ul>
			<li><a href="">Cette semaine</a></li>
			<li><a href="">Ce mois</a></li>
			<li><a href="">Cette année</a></li>
		</ul>
	</div>
	<div id="etat">
		<h3>Profil</h3>
		<section>
			<div class="section">
				<div>Courriel : <%= currentUser.email %></div>
				<div> Solde du compte : <%= currentUser.solde.toFixed(2) %> $</div>
				<div>
					<input type="button" class="btn" onclick="ajouterFonds()" value="Ajouter fonds">
				</div>
			</div>
		</section>
			<!-- <button style="width:100px;padding:5px;" onclick="ajouterFonds()">Ajouter fonds</button></div> -->

			<%
				let months = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"];
				if(currentUser.transactions !== undefined){
					let cpt = 0;
			%>
		<div class="colonne">
			<h3>Paris en cours : </h3>
			<div class="colonne">
			<%
				currentUser.transactions.forEach(tr => {
					let id = 'uneMise'+cpt;
					if(!tr.completed){


					tr.carteMise.forEach(mise => {

							let date = new Date(tr.created);
							let imgURL = "../images/design/logo/"+cpt%5+".png";
			%>
				<div id="<%=id%>" class="uneMise">
					<div class="ligne">
						<div><img src="<%= imgURL %>" style="width:20px"></div>
						<div><%= date.getDate() + ' ' + months[date.getMonth()] + ' ' + date.getFullYear() %></div>
						<div>Mise de départ: <%= (parseFloat(mise.montant)).toFixed(2) %>$</div>
						<div>Gain possible: <%= mise.gain %>$</div>
						<div>
							<input type="button" class="btn" onclick="voirDetails('<%=id%>')" value="Détails">
						</div>
					</div>
					<div class="hidden">
						<%
							mise.team.forEach(oneTeam => {
								let img = "../images/"+oneTeam.sportID+"/"+oneTeam.name.replace(/[.\s]/g, '')+".svg";
						%>
						<div class="ligne">
							<div><img src="<%= img %>" height="30" width="30" alt=""></div>
							<div>Équipe: <%= oneTeam.name %></div>
							<div>Probabilité: <%= oneTeam.odds %></div>
						</div>
						<%
							})
						%>
					</div>
				</div>

			<%

							cpt++;
						})
					}

					})
			%>
		</div>
			<div class="colonne">
				<h3>Paris complets : </h3>
				<div class="colonne">
						<%
						currentUser.transactions.forEach(tr => {
							let id = 'uneMise'+cpt;
							if(tr.completed){
								tr.carteMise.forEach(mise => {
									<!-- if(mise.completed){ -->
										let date = new Date(tr.created);
										let imgURL = "../images/design/logo/"+cpt%5+".png";
				%>
					<div id="<%=id%>" class="uneMise">
						<div class="ligne">
							<div><img src="<%= imgURL %>" style="width:20px"></div>
							<div><%= date.getDate() + ' ' + months[date.getMonth()] + ' ' + date.getFullYear() %></div>
							<div>Mise de départ: <%= (parseFloat(mise.montant)).toFixed(2) %>$</div>
							<div>Gain : <%= mise.gain %>$</div>
							<div>
								<input type="button" class="btn" onclick="voirDetails('<%=id%>')" value="Détails">
							</div>

						</div>
						<div class="hidden">
							<%
								if(mise.team.length == 0){
									%>
									<div>Aucun pari complété</div>
							<%
								}
								else{
									mise.team.forEach(oneTeam => {
										let img = "../images/"+oneTeam.sportID+"/"+oneTeam.name.replace(/[.\s]/g, '')+".svg";
							%>
							<div class="ligne">
								<div><img src="<%= img %>" height="30" width="30" alt=""></div>
								<div>Équipe: <%= oneTeam.name %></div>
								<div>Probabilité: <%= oneTeam.odds %></div>
							</div>
							<%
									})
								}
							%>
						</div>
					</div>
				</div>
			</div>
			<%

								cpt++;
							})
						}

					})
			%>
			<%
				}
			%>
		</div>
		<!-- </section> -->
	</div>
</div>
<div >
	<form id="fenetreSolde" action="/profil" method="POST">
		<i class="fas fa-times X" onclick="fermerFonds(fenetreSolde)"></i>
		<div class="ligne">
			<div class="colonne">
				<h4>Facturation</h3>
				<!-- <div class="colonne"> -->
				<div class="colonne">
					<label for="">Prénom: </label>
					<input type="text" placeholder="Prénom" name="Prenom" required>
				</div>
				<div class="colonne">
					<label for="">Nom: </label>
					<input type="text" placeholder="Nom" name="Nom" required>
				</div>
				<div class="colonne">
						<label for="">Courriel: </label>
						<input type="text" placeholder="Courriel" value="<%=currentUser.email%>" name="Courriel" required>
					</div>
				<div class="colonne">
					<label for="">Adresse: </label>
					<input type="text" placeholder="Adresse" name="Adresse" required>
				</div>
				<div class="colonne">
					<label for="">Ville: </label>
					<input type="text" placeholder="Ville" name="Ville" required>
				</div>
				<div class="colonne">
					<label for="">Province: </label>
					<input type="text" placeholder="Province" name="Province" required>
				</div>
				<div class="colonne">
					<label for="">Code postal: </label>
					<input type="text" placeholder="Code postal" name="CodePostal" required>
				</div>
			</div>
			<div class="colonne">
				<h4>Paiement</h3>
				<div class="colonne">
					<label for="">Carte acceptée: </label>
					<div id ="card" class="ligne">
						<i class="fab fa-cc-visa fa-2x"></i>
						<i class="fab fa-cc-mastercard fa-2x"></i>
						<i class="fab fa-cc-paypal fa-2x"></i>
						<i class="fab fa-cc-apple-pay fa-2x"></i>
						<i class="fab fa-bitcoin fa-2x"></i>
					</div>
				</div>
				<div class="colonne">
					<label for="">Nom sur la carte: </label>
					<input type="text" placeholder="Nom complet" name="NomComplet" required>
				</div>
				<div class="ligne">
					<div id="no-card" class="colonne">
						<label for="">No carte: </label>
						<input type="text" placeholder="1111-2222-3333-4444" required>
					</div>
					<div class="colonne">
						<label for="">CVV: </label>
						<input type="text" style="width:50px" placeholder="cvv" required>
					</div>
				</div>
				<div class="colonne">
					<label for="">Montant: </label>
					<input type="number" placeholder="Montant" name="nouveauSolde" step="0.01" required>
				</div>
			</div>
		</div>
		<div id="button" class="ligne"><button>Checkout</button></div>
	</form>
</div>
<div id="detailsMise">
	<i class="fas fa-times X" onclick="fermerFonds(detailsMise)"></i>
	<div></div>
</div>
<%
	include partials/footer
%>